<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fainet_Memory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB14F5771DCC563600708557</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB14F58E1DCC563700708557</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB14F5991DCC563700708557</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
